.body {
  font-family: "lato";
  font-weight: 200;
  color: #343434; }

.navbar-brand {
  font-family: "anton";
  color: #9D3216 !important;
  font-weight: 800; }

.navbar {
  background-color: #f3f3f3; }

.nav-link {
  font-family: "lato";
  font-weight: 400; }
  .nav-link:hover {
    color: #9D3216 !important; }

.banner {
  background-image: url("../img/banner.jpg");
  background-position: center center;
  background-size: cover;
  padding: 10rem;
  padding-bottom: 8rem; }
  .banner h1 {
    font-family: "anton";
    color: #9D3216;
    font-size: 4rem;
    margin-top: 3rem;
    text-transform: uppercase; }
  .banner .btn {
    color: #DDD2D5;
    background-color: #9A9D8B;
    border-radius: 0%; }
    .banner .btn:hover {
      background-color: #9D3216; }
  .banner hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #9D3216;
    opacity: 1; }
  .banner .servicios {
    margin-top: 6rem; }
    .banner .servicios h2 {
      font-family: "Lato";
      font-weight: 800;
      color: #343434; }
    .banner .servicios h3 {
      color: #9A9D8B; }

#grafica {
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 10rem; }
  #grafica h2 {
    font-family: "anton";
    font-weight: 800;
    color: #343434;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    text-align: center; }
  #grafica .texto-redsocial {
    font-family: "lato";
    font-weight: 400;
    color: #343434;
    text-align: center; }
  #grafica .divider {
    height: 0.2rem;
    max-width: 8rem;
    margin: 1.5rem;
    background-color: #DDD2D5;
    opacity: 1;
    margin-left: auto;
    margin-right: auto; }
  #grafica .marcas {
    margin-top: 2rem; }
    #grafica .marcas h2 {
      font-family: "anton";
      font-weight: 800;
      color: #888888; }
    #grafica .marcas p {
      font-family: "lato";
      font-weight: 400;
      font-size: 2rem;
      color: #343434;
      margin-top: 4rem; }

#redsocial {
  background-color: #f3f3f3;
  padding-top: 2rem;
  padding-bottom: 4rem; }
  #redsocial .r-social {
    font-family: "anton";
    font-weight: 800;
    color: #888888;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  #redsocial .texto-redsocial {
    font-family: "lato";
    font-weight: 400; }
  #redsocial .divider {
    height: 0.2rem;
    max-width: 8rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    background-color: #9D3216;
    opacity: 1; }
  #redsocial .perfil a {
    color: #9D3216;
    font-size: 4rem;
    text-align: center; }
    #redsocial .perfil a:hover {
      color: #343434; }
  #redsocial .perfil p {
    font-family: "lato";
    font-size: medium;
    font-weight: 600;
    color: #9D3216;
    text-align: center; }
  #redsocial .insta {
    color: #9D3216;
    font-size: 3rem; }

#desarrollo .desarrollo {
  font-family: "anton";
  font-weight: 800;
  color: #888888;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: .1rem; }

#desarrollo .texto-desarrollo {
  font-family: "lato";
  font-weight: 400;
  text-align: center; }

#desarrollo .divider {
  height: 0.2rem;
  max-width: 40%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #9D3216;
  opacity: 1; }

.blancoynegro {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  transition: ease-in-out 200ms; }

.blancoynegro:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  transition: ease-in-out 200ms; }

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl, #portfolio .container-xxl {
  max-width: 1920px; }

#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box, #portfolio .container-xxl .portfolio-box {
  position: relative;
  display: block; }

#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption, #portfolio .container-xxl .portfolio-box .portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(157, 50, 22, 0.7);
  transition: opacity 0.25s ease;
  text-align: center; }

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-category {
  font-family: "lato";
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase; }

#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xxl .portfolio-box .portfolio-box-caption .project-name {
  font-size: 1.2rem;
  font-family: "anton"; }

#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xxl .portfolio-box:hover .portfolio-box-caption {
  opacity: 1; }

.sombra {
  box-shadow: 5px 10px 18px #888888; }

footer {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  background-color: #888888;
  font-family: "lato";
  margin-top: 3rem;
  color: #f3f3f3; }

.card {
  border: none;
  border-radius: 0px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); }
  .card .card-body {
    background-color: #c9c6c6;
    text-align: center;
    padding: .5rem; }
  .card .card-title {
    font-family: "lato";
    color: white;
    font-size: 1rem; }

.card img {
  max-width: 100%;
  max-height: 100%; }

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%); }

@media (min-width: 567px) {
  .card-wrapper {
    display: flex; }
  .card {
    margin: 0 0.5em;
    width: calc(100/3); } }

@media (max-width: 567px) {
  .card:not(:first-child) {
    display: none; } }
